
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Pixelify Sans";
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    font-size: large;
    padding: 1rem;
}

.container {
     display: flex;
     flex: 1;
}

.navbar {
    width: 200px;
    padding: 2rem;
    font-size: 40px;
}


.left-navbar{
    order: 1;
}

.right-navbar{
    order: 3;
}

main {
    order: 2;
    flex: 1; /*this is what makes main fill all the empty space*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 60px;
}

#question{
     margin: 50px;
     font-size: 100px;

 }

#answer{
     margin: 50px;
 }

input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 60px;
    margin: 30px;
}

/* Optional: Style the links */
.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    margin: 1rem 0;
    font-size: 1.2rem;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
}

.navbar ul li a:hover {
    color: #007BFF;
}
 /* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 40%;
    height: 50%;
    margin: auto;
    margin-top: 100px;
}

#closeModal {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#closeModal:hover {
    background-color: #0056b3;
}

#score-total {
    font-weight: bold;
    font-size: 100px;
}
