body {
    background-image: url('../img/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Pixelify Sans";
}

header {
    text-align: center;
    font-size: large;
}

main {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 60px;
}

input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 60px;
    margin: 30px;
}