
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Pixelify Sans";
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    font-size: large;
    padding: 1rem;
}

.container {
     display: flex;
     flex: 1;
}

.navbar {
    width: 200px;
    padding: 2rem;
    font-size: 40px;
}


.left-navbar{
    order: 1;
}

.right-navbar{
    order: 3;
}

main {
    order: 2;
    flex: 1; /*this is what makes main fill all the empty space*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 60px;
}

#question{
     margin: 50px;
     font-size: 100px;

 }

#answer{
     margin: 50px;
 }

input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 60px;
    margin: 30px;
}

/* Optional: Style the links */
.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    margin: 1rem 0;
    font-size: 1.2rem;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
}

.navbar ul li a:hover {
    color: #007BFF;
}